<%- include("includes/header.ejs") %>

<div class="col-md-8 col-lg-12 col-xl-4 offset-xl-1">
  <% if (typeof errorsArr != 'undefined') {%>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>Errors!</strong> <br />
    <% for (let index = 0; index < errorsArr.length; index++) { %>
    <%=errorsArr[index]%> <br />
    <%} %>
  </div>
  <% } %>
</div>

<h1 class="report-head">
  Course<a style="float: right; margin-right: 10px" href="/user/courses-form"
    >&#x2B; ADD</a
  >
</h1>

<div class="table-responsive main-tbl my-4">
  <table class="table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Instructor Name</th>
        <th>Description</th>
        <th>Semester</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% if (typeof userAssignments !== 'undefined' && userAssignments.length >
      0) { %> <% userAssignments.forEach(course => { %>
      <tr>
        <td><%= course.course_name %></td>
        <td><%= course.instructor_name %></td>
        <td><%= course.description %></td>
        <td><%= course.semester %></td>
        <td>
          <a href="/user/courses/<%= course.course_id %>">&#x270E;</a>
          <a href="/user/courses-delete/<%= course.course_id %>">&#128465;</a>
        </td>
      </tr>
      <% }); %> <% } else { %>
      <tr>
        <td colspan="4" style="text-align: center">No courses found</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include("includes/footer.ejs") %>
